
i {
    color: gray;
    text-align: left;
}
select {
    background-color: white;
}
button {
    padding: 0px 30px;
}
p {
    color: white;
}
#avatar {
    width: 200px;
    max-width: 200px;
    padding-bottom: 2em;
}