

@import "../../variables.scss";

.statsFrame {
    background-image: url('/assets/paper.png')
}

.card{
    max-width: 20em;
    margin:auto;
    padding: 1em .3em;
    /* display: flex; */
    background-image: url('/assets/paper.png');
    background-color: $invisible;
    color:$fontcolor;
}

i {
    color: gray;
    text-align: left;
}
select {
    background-color: white;
}
button {
    // padding: 0px 30px;
    max-width: 150px;
    margin: auto;
}
p {
    color: white;
}
#avatar {
    width: 200px;
    max-width: 200px;
    padding-bottom: 2em;
}