

@import "../../variables.scss";

.statsFrame {
    
    background-image: url('/assets/paper-dark.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
   
    
    margin: auto;
    padding: 2em;
    padding-top: 4em;
    background-blend-mode: color-burn;
    margin:0px -70px -100px -70px;



}

.card{
    position:absolute;

    left:0;
    right:0;
    max-width: 25em;
    margin:auto;
    padding: 1em .3em;
    /* display: flex; */

    border:none;
    background-color: $invisible;
    color:$fontcolor;
}

i {
    color: $grey;
    text-align: left;
}
select {
    background-color: white;
}
button {
    // padding: 0px 30px;
    max-width: 150px;
    margin: auto;
}
p {
    color: white;
}
#avatar {
    width: 200px;
    max-width: 200px;
    padding-bottom: 2em;
}

.weaponSelect {
    margin-bottom: 0px;
    padding-top: 5px;
}

form {
    margin: auto ;
}