

$directColor: #24A2B7;
$inspectColor: #FDC02F;
$backcolor : rgba(0, 0, 0, 0.658);
$fontcolor: rgb(201, 201, 201);
$navColor: rgba(255, 255, 255, 0.712);
$invisible: rgba(255, 255, 255, 0);
$grey:rgba(255, 255, 255, 0.637);
$paleRed:rgba(215, 124, 124, 0.637);

$backcolor : rgba(0, 0, 0, 0.658);
$fontcolor: rgb(201, 201, 201);

.ra {
    color:white;
}