@import "../../variables.scss";
@import "../../../node_modules/rpg-awesome/css/rpg-awesome.min.css";

.card{
    border: 5px groove $grey;
    padding: 1em;
    margin-left: 4em;
    /* display: flex; */
    background-color:$backcolor;
    color: $fontcolor;
 
}