<div *ngIf="gameStart == true">
  <!-- https://nagoshiashumari.github.io/Rpg-Awesome/ -->
  <div class="col-12">
    <span *ngFor="let healthTier of this.Player.healthTiers">
      <span
        *ngIf="
          this.Player.health >= healthTier.minHealth &&
          this.Player.health <= healthTier.maxHealth
        "
      >
        <img id="avatar" [src]="healthTier.image" />
      </span>
    </span>
  </div>

  <table class="player-stats">
    <tr>
      <td><i class="ra ra-player ra-sm"></i> Name:</td>
      <td>{{ Player.name }}</td>
    </tr>

    <tr>
      <td><i class="ra ra-health ra-sm"></i> Health:</td>
      <td>
        <span [ngClass]="_characterService.Player.healthColor">
          {{ Player.health }}
        </span>
      </td>
    </tr>

    <tr>
      <td><i class="ra ra-aura ra-sm"></i> Race:</td>
      <td>{{ Player.race }}</td>
    </tr>

    <tr>
      <td><i class="ra ra-spikeball ra-sm"></i>Level:</td>
      <td>
        <span>{{ Player.lvl }}</span>
      </td>
    </tr>

    <tr>
      <td><i class="ra ra-horseshoe ra-sm"></i> Karma:</td>
      <td>
        <span class="green">{{ Player.karma }}</span>
      </td>
    </tr>

    <tr>
      <td><i class="ra ra-muscle-up ra-sm"></i> Str:</td>
      <td>
        <span class="green">{{ Player.strength }}</span>
      </td>
    </tr>

    <tr>
      <td><i class="ra ra-player-dodge ra-sm"></i> Speed:</td>
      <td>
        <span class="green">{{ Player.speed }}</span>
      </td>
    </tr>

    <tr *ngIf="Player.race === 'wizard'">
      <td><i class="ra ra-book ra-sm"></i></td>
      <td>
        <span
          *ngIf="Player.spellbook && Player.spellbook.length === 0"
          class="red"
        >
          no spells.
        </span>
      </td>
    </tr>

    <tr>
      <td><i class="ra ra-sword ra-sm"></i> Weapon:</td>
      <td>
        <span class="red" *ngIf="Player.weapon === null"
          >no weapon equipped.</span
        >
        <span class="green" *ngIf="Player.weapon">
          {{ Player.weapon.name }}
          <span
            *ngIf="Player.weapon && !_battleService.currentFight"
            (click)="_battleService.weaponequip(Player.weapon, idx, 'unequip')"
          >
            <i class="hover blue"> Unequip</i>
            <i class="ra ra-overhead ra-sm"></i>
          </span>
        </span>
        <span *ngIf="_battleService.currentFight">
          <i class="ra ra-interdiction ra-2x"></i>
        </span>
      </td>
    </tr>

    <tr>
      <td><i class="ra ra-gold-bar ra-sm"></i> Gold:</td>
      <td>
        <span class="orange">{{ Player.gold }}</span> pcs
      </td>
    </tr>
  </table>
</div>
<style>
  td {
    padding: 0px 4px !important; /* top/bottom 8px, left/right 12px */
  }
</style>
