<span *ngIf="gameStart == true">

   <div class="col-12">
        <span *ngFor="let healthTier of this.Player.healthTiers">
            <span *ngIf="this.Player.health >= healthTier.minHealth &&  this.Player.health <= healthTier.maxHealth">
                    <img  id="avatar" [src]="healthTier.image">
            </span>    
        </span>
    </div> 

    <i><i class="ra ra-player ra-lg"></i> </i> {{Player.name}}<BR>
        <i><i class="ra ra-health ra-lg"></i> : </i> <span [ngClass]="[ _characterService.Player.healthColor]">{{Player.health}}</span>HP<BR>
       <i>Race: </i> {{Player.race}}<BR>
        <i>Level: </i> <span class="green">{{Player.lvl}}</span><BR>
        <i><i alt="karma" class="ra ra-crystal-ball  ra-lg"></i>  <i alt="karma" class="ra ra-horseshoe ra-lg"></i>  : </i> <span class="green">{{Player.karma}}</span><BR>
        <i><i class="ra ra-muscle-up ra-lg"></i> : </i><span class="green">{{Player.strength}}</span> <BR>
        <i><i class="ra ra-player-dodge ra-lg"></i> : </i> <span class="green">{{Player.speed}}</span><BR>
            <span *ngIf="Player.race === 'wizard'">
            <span *ngIf="Player.spellbook"><i class="ra ra-book ra-lg"></i> :  </span> 
            <span *ngIf="Player.spellbook && Player.spellbook.length ===0" class="red">no spells.<BR></span>
            </span>
        <i><i class="ra ra-sword ra-lg"></i> : </i> <BR>
            <span class="red" *ngIf="Player.weapon === null">no weapon equipped.</span>
            <span class="green" *ngIf="Player.weapon">
                {{Player.weapon.name}} 
                <span *ngIf="Player.weapon && _battleService.currentFight === false" (click)="_battleService.weaponequip(Player.weapon, idx, 'unequip')"><i class="hover blue"> Unequip</i><i class="ra ra-overhead ra-lg"></i></span>
            </span>
            <span *ngIf="_battleService.currentFight === true"><i class="ra ra-interdiction ra-2x"></i></span>
  
            
            <BR>
        <i><i class="ra ra-gold-bar ra-lg"></i> </i> <span class="orange">{{Player.gold}}</span>pcs<BR>
        <i>Hometown: </i> <span class="blue">{{Player.hometown}}</span><BR>  <span class="red" *ngIf="Player.hometown === null">no hometown.</span>
</span>
