<BR><BR>
        <div class="card">
        <div class="row">
          <div class="col-md-12 col-lg-6 col-sm-6">
              <h1 class="card-title">Ugh, I Have To Make An Account?</h1>
              <p class="card-text">Don't worry. We understand how troublesome it is when sites 'make you' sign up for special features.
                Lucky for you, the DIY mentality is for the people by the people. If you want to make a simple account 
                continue by signing up your email below, or signing up through facebook. You'll recieve an email confirmation shortly.
                There will be other opportunities to access cool features. If you don't wish to be bothered, we luckily have an anonymous option
                for all your sneaky band snooping.
              </p>
          </div>
          <div class="col-md-12 col-lg-6 col-sm-6">

              <form (ngSubmit)="onSubmit(ngForm)" #signupForm="ngForm">
                     <div align="center" class="container">
 
                   <div class="form-group col-md-5 col-lg-12 col-sm-10">
                       <label for="email">Email</label>
                       <input type="email"
                       id="email"
                       placeholder="johnsmith@outlook.com"
                       class="form-control"
                       required
                       name="email"
                       #email='ngModel'
                       [(ngModel)]="user.email"
                       >
                               <div *ngIf="email.invalid && (email.dirty || email.touched)"
                               class="alert alert-danger"
                               > Email is required
                               </div>
                   </div>
 
                   <div class="form-group col-md-5 col-lg-12 col-sm-10">
                       <label for="password">Password</label>
                       <input type="password"
                       id="password"
                       placeholder="be secure"
                       class="form-control"
                       required
                       name="password"
                       #password='ngModel'
                       [(ngModel)]="user.password"
                       >
                               <div *ngIf="password.invalid && (password.dirty || password.touched)"
                               class="alert alert-danger"
                               > Password is required
                               </div>
                   </div>
                   <BR>
                         <div class="container">
                             <div class="container">
                               <button class="butt col-md-4 col-lg-4 col-sm-10 btn-outline-primary" 
                               [hidden]="submitted" 
                               [disabled]="!signupForm.valid" 
                               type="submit" 
                               value="Create"
                               >Signup</button>
                             </div>

                         </div>
                         {{error}}
               </div>
                 </form>
          </div>
        </div>
        <BR>
        <div class="card-footer"> 
            <button type="button" class="btn-primary" [routerLink]="['/login']" routerLinkActive="active">Go to Login</button>  
        </div>
      </div>
