<!-- ANGULAR MATERIALS DOCUMENTATION 
https://material.angular.io/guide/getting-started-->

<div id='body' class="container">
    <div style="text-align:center">
            <h1 class="pointTitle">
                Wizards of the Realm
            </h1>
    </div>
    <div class="container"><BR>
            <!-- <div *ngIf="_characterService.gameStart === true"> -->
            <fieldset>
                    <i style="color:rgb(219, 152, 152)">&#10524; </i>
                    <i style="color:white">&#9472; </i>
                            <!-- <a style="text-decoration:none;" [routerLink]="['']"  (click)="newGame(Player)"routerLinkActive="active">  NEW GAME  </a> <i style="color:white">&#9472; </i> -->
                            <a style="text-decoration:none;" [routerLink]="['firstworld']"  routerLinkActive="active">Map</a>
                    <i style="color:white">&#9472; </i>
                    <i style="color:rgb(219, 152, 152)">&#9472; </i>
                    <i style="color:white">&#9472; </i>
                            <a style="text-decoration:none;" [routerLink]="['stats']"  routerLinkActive="active">  Stats </a><i style="color:white">&#9472; </i>
              
                    <i style="color:rgb(219, 152, 152)">&#9472; </i>
                    <i style="color:white">&#9472; </i>
                            <a style="text-decoration:none;" [routerLink]="['bag']"  routerLinkActive="active"> Bag</a> <i style="color:white">&#9472; </i>
                    <i style="color:rgb(219, 152, 152)">&#9472; </i>
                    <i style="color:white">&#9472; </i>
                            <a href=""  routerLinkActive="active">  Help  </a><i style="color:white">&#9472; </i>
                    <i style="color:rgb(219, 152, 152)">&#9472; </i>
                    <i style="color:white">&#9472; </i>
                            <a style="text-decoration:none;color:rgb(219, 152, 152);" href="http://localhost:4200/" >Restart</a> <i style="color:white">&#9472; </i>
                            <!-- <a style="text-decoration:none;" [routerLink]="['updateplayer']"  routerLinkActive="active"> UPDATE </a>  -->
                    <i style="color:rgb(219, 152, 152)">&#10523; </i>
              
             </fieldset>
    </div><BR>
            
        
            <div class="jumbotron">
                    <router-outlet></router-outlet>
            </div>
   
  




    <!-- </div> -->
</div>