@import "../../../variables.scss";

@import "../../../../node_modules/rpg-awesome/css/rpg-awesome.min.css";

.card{
    // border: 5px groove $grey;
    padding: 1em;
    // margin-left: 4em;
    // margin-right: 4em;
    background-color:$backcolor;
    color: $fontcolor;

    
}
.btn {
    // display: block;

}
.direct i{
    color: $directColor;
}
.inspect i{
    color:$inspectColor;
}

.inspect_direct_list {
    padding:.5em;
    display: block;
}
.inspect_direct_list button {
    margin-top: .5em;
}
.container {
     background-image:
     rgba(255, 255, 255, 0.148),
    url('/assets/world-background/town.jpg');
    white-space: pre-wrap;

}

.btn-info {
    vertical-align: top;
    margin: 0px auto;
    // display:inline-block;
    top: 0;

}

.red {
    color:rgb(251, 106, 106);
}
.green {
    color: rgb(0, 154, 54);
}
.orange {
    color: rgb(208, 146, 0);

}
.purple {
    color: purple;
}
.black {
    color: black
}
.blue {
    color: rgb(7, 0, 208);

}
.yellow {
    color: rgb(208, 173, 0);

}

.pointTitle { 
    font-family: 'Mirza', cursive;
    font-weight: normal; 
    font-style: normal; 
 }

 ul > li {
     list-style-type: none;
     text-emphasis: left;
 }
 .btn-default{
    //  border: 1px solid grey;

 }
 ul{
     text-emphasis: left;
 }
 .col-sm {
    // padding-right: 55px;
    padding-left: 0;
 }
 .col-sm:nth-child(1) {
     padding:1em;

}

.battle_updates {
    padding: 2em;
    min-height: 10em;
    // border: 1px solid $grey;
    color: $paleRed;

}
.usables {
    padding: 2em;
    height: 10em;
    overflow: scroll;
    // border: 1px solid grey;
}

#enemy-img {
    width: 100%;
 
    // border: 2px solid $paleRed;
}
// #enemy-img2 {
//     position: absolute;
//     width: 100%;
//     border: 2px solid $paleRed;
// }