.card{
    padding: 1em;
    /* background-image:
    url('/assets/world-background/town.jpg'); */

    
}
.container {
     background-image:
     rgba(255, 255, 255, 0.148),
    url('/assets/world-background/town.jpg');

    padding:0 4em;
}

.btn-info {
    vertical-align: top;
    margin: 0px auto;
    display:inline-block;

}