<BR /><BR />
<h1 class="pointTitle" *ngIf="playersPoint.name">
  {{ WorldName }} : {{ playersPoint.name }}
</h1>
<BR />

<div align="center" class="row width">
  <span *ngIf="playersPoint.update_message">
    {{ playersPoint.update_message }}
  </span>
  <div
    *ngIf="!currentEvent && _battleService.currentFight === false"
    class="col-sm card card-adventure"
  >
    <!-- World DESCRIPTION  -->
    <!-- <p style="color:green">Player.worldPoint LIST:{{ this.Player.worldPoint | json:format }}</p> -->
    <p>"{{ playersPoint.description | json }}"</p>
    <span class="orange" *ngIf="_characterService.global_update_message">
      {{ _characterService.global_update_message }}
    </span>

    (Hover over options for more detail)

    <div class="direct_inspect_frame">
      <!-- PLAYERS POINTS.DIRECTIONS
        PLAYERS POINTS.DIRECTIONS               traverse(direction) playerspoint.direction OBJ
        PLAYERS POINTS.DIRECTIONS
        PLAYERS POINTS.DIRECTIONS
        PLAYERS POINTS.DIRECTIONS -->

      <div *ngIf="playersPoint.directions">
        <hr />
        <p class="direct">
          <i>Directions: </i><i class="ra ra-wooden-sign ra-lg"></i>
        </p>

        <div
          *ngFor="let direction of playersPoint.directions"
          class="inspect_direct_list"
        >
          <span
            [ngbTooltip]="tipContentDirection"
            (click)="traverse(direction)"
            class="direction_item"
            [style.background-color]="direction.color"
          >
            <i class="ra ra-trail ra-1x"></i> {{ direction.name }}
          </span>

          <ng-template #tipContentDirection>
            {{ direction.description }}
          </ng-template>
        </div>
      </div>

      <!-- PLAYERS POINTS.DIRECTIONS.INSPECTS
        PLAYERS POINTS.DIRECTIONS.INSPECTS
        PLAYERS POINTS.DIRECTIONS.INSPECTS   inspectWorld(inspect.event, idx, inspect.needs)   playerspoint.direction.inspect OBJ
        PLAYERS POINTS.DIRECTIONS.INSPECTS
        PLAYERS POINTS.DIRECTIONS.INSPECTS -->

      <div *ngIf="playersPoint.inspects && playersPoint.inspects.length > 0">
        <hr />
        <p class="inspect">
          <i>Inspects: </i> <i class="ra ra-hand ra-lg"></i>
        </p>
        <div
          *ngFor="let inspect of playersPoint.inspects; let idx = index"
          class="inspect_direct_list"
        >
          <span
            *ngIf="inspect.guard !== true"
            [ngbTooltip]="tipContentInspects"
            (click)="inspectWorld(inspect, idx)"
            class="inspect_item"
          >
            <i class="ra ra-hand ra-2x"></i>
            {{ inspect.name }}

            <span *ngIf="inspect.needsIconClue">
              <!-- Player hints -->
              <span placement="bottom" [ngbTooltip]="hint">(?)</span>
              <ng-template #hint>
                <i class="black ra ra-{{ inspect.needsIconClue }} ra-lg"></i>
                <span *ngIf="inspect.needsIconClue2">or</span>
                <i class="black ra ra-{{ inspect.needsIconClue2 }} ra-lg"></i>
                will determine your fate.
              </ng-template>
            </span>
          </span>

          <ng-template #tipContentInspects>
            {{ inspect.description }}
          </ng-template>
        </div>
      </div>
    </div>
    <!-- DIRECT Inspect Frame END  -->
  </div>
  <!-- World DESCRIPTION END  -->
  <!-- EVENT DESCRIPTION  -->

  <div
    *ngIf="currentEvent && _battleService.currentFight === false"
    class="card card-adventure event col-sm"
  >
    <h4>Event: {{ currentEvent.name }}</h4>
    <div
      *ngIf="
        currentEvent && currentEvent.enemy && currentEvent.enemy.health <= 0
      "
    >
      <img id="enemy-img" [src]="currentEvent.enemy.deadimg" />
    </div>
    <p>{{ currentEvent.description }}</p>
    <span *ngIf="currentEvent.descriptionList">
      <ol *ngFor="let item of currentEvent.descriptionList">
        <li>* {{ item }}</li>
      </ol>
    </span>
    <p class="blue" *ngIf="_characterService.global_update_message">
      {{ _characterService.global_update_message }}
    </p>
    <span [ngbTooltip]="enemySpecs" *ngIf="currentEvent.enemy"
      >Enemy: <b class="red">{{ currentEvent.enemy.name }}</b></span
    >
    <!-- ENEMY SPECS -->
    <ng-template type="button" class="btn btn-outline-secondary" #enemySpecs>
      <span>
        Health:
        <b [ngStyle]="{ color: currentEvent.enemy.healthColor }"
          >{{ currentEvent.enemy.health }} HP</b
        ></span
      ><BR />
      <span
        >Lvl: <b>{{ currentEvent.enemy.lvl }} </b></span
      ><BR />
      <span
        >Speed: <b>{{ currentEvent.enemy.speed }}</b></span
      ><BR />
      <span
        >Weapon: <b>{{ currentEvent.enemy.weapon.name }}</b></span
      ><BR />
    </ng-template>

    <span style="color: green" *ngIf="currentEvent.updateMessage">
      {{ currentEvent.updateMessage }}
    </span>
    <span *ngIf="currentEvent.restart === true">
      <a href="http://localhost:4200/">Restart</a>
    </span>
    <span *ngIf="currentEvent.restart === true">
      <a [routerLink]="['help']"> <b>Need Help? </b> </a>
    </span>

    <div *ngIf="currentEvent.inspects">
      <!-- PLAYERS POINTS.DIRECTIONS.INSPECTSCURRENTEVENT.INSPECTS
        PLAYERS CURRENTEVENT.INSPECTS
        PLAYERS CURRENTEVENT.INSPECTS       inspectEvent(inspect, idx) currentEvent.inspects OBJ
        PLAYERS CURRENTEVENT.INSPECTS
        PLAYERS CURRENTEVENT.INSPECTS -->
      <p><i>What shall you do (Hover over options for more detail).</i></p>

      <span
        *ngFor="let inspect of currentEvent.inspects; let idx = index"
        style="padding: 0.5em"
      >
        <ng-template #tipContentInspect
          >Please Equip Weapon. An enemy is before you and you should have a
          weapon equipped at all times.</ng-template
        >
        <span
          [ngbTooltip]="tipContentInspect"
          *ngIf="
            inspect.needsweapon === true &&
            _battleService.weaponGuard === true &&
            idx === 0
          "
        >
          <i class="ra ra-uncertainty ra-lg"></i
        ></span>
        <button
          [disabled]="
            inspect.needsweapon === true && _battleService.weaponGuard === true
          "
          [ngbTooltip]="tipContentEventInspects"
          (click)="inspectEvent(inspect, idx)"
          class="btn btn-warning"
        >
          {{ inspect.name }}
        </button>
      </span>
    </div>
    <div *ngIf="currentEvent.access_directions_state === true">
      <hr />
      <!-- PLAYERS 
        PLAYERS CURRENTEVENT.DIRECTIONS      traverseFromEvent(direction)
        PLAYERS CURRENTEVENT.DIRECTIONS      currentEvent.directions OBJ
        PLAYERS CURRENTEVENT.DIRECTIONS
        PLAYERS CURRENTEVENT.DIRECTIONS -->
      <span
        *ngFor="let direction of currentEvent.directions; let idx = index"
        style="padding: 0.5em"
      >
        <button
          [ngbTooltip]="tipContentDirectionEvent"
          (click)="traverseFromEvent(direction)"
          class="btn btn-info"
        >
          {{ direction.name }}
        </button>
        <ng-template
          type="button"
          class="btn btn-outline-secondary"
          #tipContentDirectionEvent
          >{{ direction.description }}</ng-template
        >
      </span>
    </div>
  </div>

  <div
    *ngIf="_battleService.currentFight"
    class="card card-battle event col-sm"
  >
    <div *ngIf="_battleService.currentFight === true">
      <h3>{{ _battleService.currentEnemy.name }}</h3>

      <span *ngFor="let healthTier of _battleService.currentEnemy.healthTiers">
        <span
          *ngIf="
            _battleService.currentEnemy.health >= healthTier.minHealth &&
            _battleService.currentEnemy.health <= healthTier.maxHealth
          "
        >
          <span [@healthTransition]="healthTier.image">
            <img id="enemy-img" [src]="healthTier.image" />
          </span>
        </span>
        <div *ngIf="_battleService.currentEnemy">
          <span *ngIf="_battleService.currentEnemy.health <= 0">
            <img id="enemy-img" [src]="_battleService.currentEnemy.deadimg" />
          </span>
        </div>
      </span>

      <div class="battle_updates">
        {{ _battleService.battle_update_message }}
      </div>
      <BR />

      <ul>
        <li>
          Health:
          <span [ngClass]="[_battleService.currentEnemy.healthColor]">{{
            _battleService.currentEnemy.health
          }}</span>
        </li>
        <li>
          Lvl:<span class="green">{{ _battleService.currentEnemy.lvl }}</span>
        </li>
        <li>Weapon: {{ _battleService.currentEnemy.weapon.name }}</li>
        <li>Description: {{ _battleService.currentEnemy.description }}</li>
      </ul>
      <button
        style="display: inline-block"
        (click)="fight('Strike')"
        class="btn btn-default red"
      >
        Strike
      </button>
      <button
        style="display: inline-block"
        (click)="_battleService.showUsables = !_battleService.showUsables"
        class="btn btn-default yellow"
      >
        Bag
      </button>
      <button
        style="display: inline-block"
        (click)="fight('Block')"
        class="btn btn-default green"
      >
        Block
      </button>
      <button
        [disabled]="
          _battleService.max_Taunt > 2 ||
          this._battleService.currentEnemy.tauntDisabled
        "
        style="display: inline-block"
        (click)="fight('Taunt')"
        class="btn btn-default orange"
      >
        Taunt
      </button>
      <span *ngIf="_battleService.max_Taunt > 2">
        <b [ngbTooltip]="tauntInfo">?</b>
        <ng-template type="button" class="btn btn-outline-secondary" #tauntInfo>
          <span *ngIf="_battleService.max_Taunt > 2"
            >Can only taunt a max of 2 times!</span
          >
          <span *ngIf="this._battleService.currentEnemy.tauntDisabled"
            >This enemy is too tough to taunt.</span
          >
        </ng-template>
      </span>
      <BR />
      <div *ngIf="_battleService.showUsables === true" class="usables">
        <uL *ngFor="let item of Player.bag; let idx = index">
          <li
            (click)="fight(idx)"
            *ngIf="item.type === 'usable'; else notUsable"
          >
            {{ item.name }} <b>USE</b>
          </li>

          <ng-template #notUsable
            >{{ item.name }} <b class="red">X</b><i>not usable</i></ng-template
          >
        </uL>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card card-stats">
      <app-stats></app-stats>
    </div>
    <div class="card card-bag">
      <app-bag></app-bag>
    </div>
  </div>
</div>

<style>
  .inspect_item:hover,
  .direction_item:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(1.1);
  }
  .inspect_item,
  .direction_item {
    text-align: left;
    cursor: pointer;
    display: inline-block;

    border-radius: 4px;
    font-weight: 500;
    transition: transform 0.15s ease, filter 0.15s ease;
  }

  /* Specific styles */
  .inspect_item {
    background: #f9f9f9;
  }
  .inspect_item:hover {
    background: #ffe8a1;
  }

  .direction_item {
    color: #fff;
  }

  /* Disabled look */
  .inspect_item.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
</style>
