

        <h1 class="pointTitle" *ngIf="playersPoint.name">
        {{WorldName}} : {{playersPoint.name}}</h1><BR>
    


    <div align="center" class="row width">

            <span *ngIf="playersPoint.update_message"> {{playersPoint.update_message}} </span>

        <div *ngIf="!currentEvent  && _battleService.currentFight === false" class="col-sm card card-adventure"> <!-- World DESCRIPTION  -->
        <!-- <p style="color:green">Player.worldPoint LIST:{{ this.Player.worldPoint | json:format }}</p> -->
        <p> "{{ playersPoint.description | json}}"</p>
        {{Player.description | json}}
        <span class="orange" *ngIf="_characterService.global_update_message">
                {{_characterService. global_update_message}}
            </span>

        (Hover over options for more detail)


        <!-- PLAYERS POINTS.DIRECTIONS
        PLAYERS POINTS.DIRECTIONS               traverse(direction) playerspoint.direction OBJ
        PLAYERS POINTS.DIRECTIONS
        PLAYERS POINTS.DIRECTIONS
        PLAYERS POINTS.DIRECTIONS -->
    
              <div *ngIf="playersPoint.directions">
                    <hr>
                    <p><i>Where shall you go? </i></p>
                    <span *ngFor="let direction of playersPoint.directions;"style="padding: .5em;">
                        <button [ngbTooltip]="tipContentDirection" [style.background-color]="direction.color"  (click)="traverse(direction);"  class="btn btn-info"> 
                            {{direction.name}} 
                        </button> 
                        <ng-template type="button" class="btn btn-outline-secondary" #tipContentDirection>{{direction.description}}</ng-template>
                    </span>
                </div>

            <!-- PLAYERS POINTS.DIRECTIONS.INSPECTS
        PLAYERS POINTS.DIRECTIONS.INSPECTS
        PLAYERS POINTS.DIRECTIONS.INSPECTS   inspectWorld(inspect.event, idx, inspect.needs)   playerspoint.direction.inspect OBJ
        PLAYERS POINTS.DIRECTIONS.INSPECTS
        PLAYERS POINTS.DIRECTIONS.INSPECTS -->
     
              <div *ngIf="playersPoint.inspects">
                    <hr>
                    <p><i>What shall you do </i></p>
                    <span *ngFor="let inspect of playersPoint.inspects; let idx = index" style="padding: .5em;">
                    
                            <button *ngIf="inspect.guard !== true" [ngbTooltip]="tipContentInspects" (click)="inspectWorld(inspect, idx);"  class="btn btn-warning"> {{inspect.name}}</button> 
                            <ng-template type="button" class="btn btn-outline-secondary" #tipContentInspects> zzzz{{inspect.description}} </ng-template>
                   
                    </span>
                </div>
      </div> <!-- World DESCRIPTION END  -->
      <!-- EVENT DESCRIPTION  -->




      <div *ngIf="currentEvent && _battleService.currentFight === false" class="card card-adventure event col-sm"> 

        <h4>Event: {{currentEvent.name}}</h4>
        <p>{{currentEvent.description}}</p>
        <p class="blue" *ngIf="_characterService.global_update_message"> {{_characterService.global_update_message}}</p>
        <span [ngbTooltip]="enemySpecs" *ngIf="currentEvent.enemy">Enemy: <b class="red">{{currentEvent.enemy.name}}</b></span>
         <!-- ENEMY SPECS -->   <ng-template type="button" class="btn btn-outline-secondary" #enemySpecs>
                                        <span> Health: <b>{{currentEvent.enemy.health}} HP</b></span><BR>
                                        <span>Lvl: <b>{{currentEvent.enemy.lvl}} </b></span><BR>
                                        <span>Speed: <b>{{currentEvent.enemy.speed}}</b></span><BR>
                                        <span>Weapon: <b>{{currentEvent.enemy.weapon.name}}</b></span><BR>
                                        </ng-template>

        <span style="color:green" *ngIf='currentEvent.updateMessage'>{{currentEvent.updateMessage}}</span>
        
        <div *ngIf="currentEvent.inspects">

                    <!-- PLAYERS POINTS.DIRECTIONS.INSPECTSCURRENTEVENT.INSPECTS
        PLAYERS CURRENTEVENT.INSPECTS
        PLAYERS CURRENTEVENT.INSPECTS       inspectEvent(inspect, idx) currentEvent.inspects OBJ
        PLAYERS CURRENTEVENT.INSPECTS
        PLAYERS CURRENTEVENT.INSPECTS -->
            <p><i>What shall you do (Hover over options for more detail).</i></p>
            <span *ngFor="let inspect of currentEvent.inspects; let idx = index" style="padding: .5em;">
               
                    <ng-template #tipContentInspect>Please Equip Weapon. An enemy is before you and you should have a weapon equipped at all times.</ng-template>
                    <span [ngbTooltip]="tipContentInspect" *ngIf="inspect.needsweapon === true && _battleService.weaponGuard === true && idx === 0">?</span>
                    <button title="Please Equip Weapon" [disabled]="inspect.needsweapon === true && _battleService.weaponGuard === true" [ngbTooltip]="tipContentEventInspects" (click)="inspectEvent(inspect, idx);"  class="btn btn-warning"> {{inspect.name}} </button>  
                </span>
        </div>
                <div *ngIf="currentEvent.access_directions_state === true">
                <hr>
   <!-- PLAYERS 
        PLAYERS CURRENTEVENT.DIRECTIONS      traverseFromEvent(direction)
        PLAYERS CURRENTEVENT.DIRECTIONS      currentEvent.directions OBJ
        PLAYERS CURRENTEVENT.DIRECTIONS
        PLAYERS CURRENTEVENT.DIRECTIONS -->
                <span *ngFor="let direction of currentEvent.directions; let idx = index" style="padding: .5em;">
                    <button  [ngbTooltip]="tipContentDirectionEvent" (click)="traverseFromEvent(direction);"  class="btn btn-info"> {{direction.name}} </button> 
                    <ng-template type="button" class="btn btn-outline-secondary" #tipContentDirectionEvent>{{direction.description}}</ng-template>
                </span>
                </div>
        
      </div>




      <div *ngIf="_battleService.currentFight"  class="card card-battle event col-sm">
            <div *ngIf="_battleService.currentFight === true">
                    <h3> {{_battleService.currentEnemy.name}}</h3>
                    {{ _battleService.battle_update_message}}
                    <BR>
                        <ul>
                            <li>Health: {{_battleService.currentEnemy.health}}</li>
                            <li>Lvl: {{_battleService.currentEnemy.lvl}}</li>
                            <li>Weapon: {{_battleService.currentEnemy.weapon.name}}</li>
                            <li>Description: {{_battleService.currentEnemy.description}}</li>
                        </ul>
                    <button  style="display: inline-block;" (click)="fight('strike')" class="btn btn-default red">Strike</button>
                    <button style="display: inline-block;" (click)="fight('heal')" class="btn btn-default yellow">Heal</button>
                    <button style="display: inline-block;" (click)="fight('block')" class="btn btn-default green">Block</button>
                    <button  style="display: inline-block;" (click)="fight('taunt')" class="btn btn-default orange">Taunt</button>
            </div>
      </div>











      <BR>

    <div class="col-sm">
            <div class="card card-stats">
                <app-stats></app-stats>
            </div>
            <div class="card card-bag">
             <app-bag></app-bag>
            </div>
    </div>

    </div>

    
