
    

<h2>{{Player.name}}'s Inventory</h2>
<BR>
<div *ngFor="let item of Player.bag; let idx = index">
          <ng-template type="button" class="btn btn-outline-secondary" #tipContent>
                <span><i>'{{item.description}}'</i> </span>
                <span *ngIf="item.type === 'weapon'">
                        <br>
                        <span>Lvl: {{item.lvl}}</span><BR>
                        <span>Damage: {{item.damage}} </span><BR>
                        <span>Durability: {{item.durability}} </span><BR>
                        <span> Karma Effect: {{item.karma_effect.name}}  </span><BR>
                        <i>'{{item.karma_effect.description}}'</i><BR>
                          <span *ngIf="item.equipped === true"> Equipped</span>
                        <span [ngClass]="{'green': item.equipped ===true, 'orange': item.equipped === false }">{{item.name}}</span>
                </span>

              <span *ngIf="item.qty > 1"> Qty:  {{item.qty}}</span>
            </ng-template>
          <li [ngbTooltip]="tipContent">
                <span [ngClass]="{'green': item.equipped === true}">{{item.name}}</span>
                <span *ngIf="item.type === 'weapon' && this.Player.weapon === null;" (click)="_battleService.weaponequip(item, idx, 'equip')">
                  <img width="10px" src="/assets/icons/equip-weapon.png">
                </span>
                <span *ngIf="item.type === 'usable'" (click)="use_item(item, idx);">
                    <img width="10px" src="/assets/icons/health-normal.png">
                  </span>
          </li>
</div>

<div *ngIf="Player.bag.length === 0">
    <p>Empty Bag</p>
</div>



